body {
	margin: 0;
  	padding: 0;

  	font-family: "Roboto", Arial, sans-serif;
  	font-size: 16px;
  	line-height: 22px;
  	font-weight: 400;
  	color: #ffffff;
  	

  	background-color: #849d8f; /*#8996a6; #9d8b84; */
  	/*background-color: rgb(132, 157, 143); rgb(137, 150, 166); rgb(157, 139, 132);*/
  	background-position: top center;
  	background-repeat: no-repeat;
}

a {
	color: #ffffff;
	text-decoration: none;

}

.main-header {
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
}

.main-navigation{
	margin: 0;
	padding: 0;

	display: flex;
	flex-direction: row;
	align-items: center;

	font-size: 16px;
	line-height: 18px;
	color: #ffffff;
}

.main-header-logo {
	order: -2;
	margin-top: 9px;
	magrin-left: 52px;
}

.catalog-navigation {
	margin: 0;
	padding: 0;
	
	display: flex;
	flex-direction: column;


	font-family: "Roboto", Arial, sans-serif;
  	font-size: 14px;
  	line-height: 16px;
  	font-weight: 400;
  	color: #323232;
}

.site-navigation {
	margin: 0;
	padding: 0;

	display: flex;
	flex-direction: row;
	
	font-family: "Roboto", Arial, sans-serif;
  	font-size: 16px;
  	line-height: 18px;
  	font-weight: 700;
  	color: #ffffff;
}

.site-navigation, .catalog-navigation {
	list-style: none;
}

.site-navigtaion a {
	color: #ffffff; 
}

.catalog-navigation a {
	color: #323232; 333333
}

.site-navigation a:hover,
.site-navigation a:focus {
	color: #333333;
	background-color: #f7f6f3;
}

.catalog-navigation a:hover {
  background-color: #fbded7; 
}

.catalog-navigation a:focus {
	background-color: #f6b5a5;
}

.new-in-the-catalog {
	border-bottom: 1px solid #88a093; /* width: 128*/

	font-family: "Roboto", Arial, sans-serif;
  	font-size: 14px;
  	line-height: 16px;
  	font-weight: 700;
  	color: #323232;
}
.search-block {
	
}

.login-link-button {
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 5px;
	padding-right: 17px;

	border-radius: 15px;

	font-family: "Roboto", Arial, sans-serif;
  	font-size: 14px;
  	line-height: 16px;
  	font-weight: 500;
  	color: #ffffff;
}

.user-navigation-block {
	
}

.pop-up {
	background-color: #f8f7f4; 
}


.button {
	display: inline-block;

	background-color: #ed5b3d;
	color: #ffffff;

	border: none;

	padding: 2px;
	border-radius: 5px;

	font-family: "Roboto", Arial, sans-serif;
  	font-weight: 700;
  	color: #ffffff;
}
/*.page-button {
	padding-top: px;
	padding-bottom: px;
	padding-left: px;
	padding-right: px;

	border-radius: 15px;
}*/

.close-button {
	margin: 15px;

}
.close-button-small {
	margin: 15px;
}


.link {
	color: #323232;

}

.visually-hidden {
	position: absolute;
	clip: rect(0 0 0 0);
	width: 1px;
	height: 1px;
	margin: -1px;
}


.cart-button {
	position: relative;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 5px;
	padding-right: 35px;

	border-radius: 15px;
	border: none;

	font-family: "Roboto", Arial, sans-serif;
  	font-size: 14px;
  	line-height: 16px;
  	font-weight: 500;
  	color: #ffffff;
}

.cart-button::before {
	content: " ";
    position: absolute;
    width: 25px;
    height: 25px;
    top: 6px;
    left: 10px;

	background-image: url(../img/cart-empty.svg);
	background-size: 21px 20px;
	background-repeat: no-repeat;
    background-position: 0 0;

}

.cart-block {
	
}
.cart-block-table {
	border-bottom: 1px solid #cacac7;
}

.cart-table-text td{
	font-family: "Roboto", Arial, sans-serif;
  	font-size: 13px;
  	line-height: 16px;
  	font-weight: 500;
  	color: #323232;
}

.grey-text {
	color: rgba(50, 50, 50, 0.6);
}

.header-info {
	list-style: none;
}

.contacts-info {}

.container {
    width: 1146px;
    margin: 0 auto;
}


.main-slider {
	display: flex;
}

.slider1 {
	background-image: url(../img/ice_cream_main1);
}
.slider2 {
	background-image: url(../img/ice_cream_main2);
}
.slider3 {
	background-image: url(../img/ice_cream_main3);
}
.slider-control {}
.slider-button {
	padding: 17px 40px;
	/*
	padding-top: 17px;
	padding-bottom: 17px;
	padding-left: 40px;
	padding-right: 40px;
	*/

	border-radius: 32px;

	font-family: "Roboto", Arial, sans-serif;
  	font-size: 32px;
  	line-height: 44px;
  	font-weight: 700;
  	color: #ffffff;
}
.slider-title {
	font-size: 60px;
	line-height: 60.35px;
}

.order-bonus {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	
}
.raspberries {
	background-color: #6b1427;
	background-image: url(../img/bg_raspberries.jpg);
	background-repeat: no-repeat;
}
.chocolate {
	background-color: #654134;
	background-image: url(../img/bg_chocolate.jpg);
	background-repeat: no-repeat;
}
.order-bonus-button {
	padding: 14px;

	border-radius: 15px;

	font-family: "Roboto", Arial, sans-serif;
  	font-size: 18px;
  	line-height: 24px;
  	font-weight: 700;
  	color: #ffffff;
}

.order-bonus-title {
	font-family: "Roboto", Arial, sans-serif;
  	font-size: 35px;
  	line-height: 41px;
  	font-weight: 700;
  	color: #ffffff;
}

.hit-sales {

}
.hit-sales ul {
	list-style: none;
}

.hit-list {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}
.catalog-item {
	width: 267px;

}

.catalog-item-image img {
	border-radius: 50%; 
}




.catalog-item:hover, .catalog-item:focus{
	background-color: rgba(255, 255, 255, 0.6);
}
.quick-view-button {
	padding: 14px 17px;
	/*
	padding-top: 14px;
	padding-bottom: 14px;
	padding-left: 17px;
	padding-right: 17px;
	*/

	border-radius: 15px;

	font-family: "Roboto", Arial, sans-serif;
  	font-size: 18px;
  	line-height: 24px;
  	font-weight: 700;
  	color: #ffffff; 
	
}
.product-price {
	font-family: "Roboto", Arial, sans-serif;
	font-size: 35px;
	line-height: 45px;
	font-weight: 700;
	color: #ffffff;
}

.product-price b {
	font-family: "Roboto", Arial, sans-serif;
	font-size: 16px;
	line-heigt: 22px;
	font-weight: 700;
	color: #ffffff;
}

.item-name {
	font-family: "Roboto", Arial, sans-serif;
	font-size: 16px;
	line-heigt: 22px;
	font-weight: 500;
	color: #ffffff;
	
}
.rub {}

.sale-preview {}

.company-info {
	display: flex;
	
	color: #323232;

}

.company-info-list {
	background-color: #dcd0b6;
	background-image: url(../img/bg_waffle.jpg);
	background-repeat: no-repeat;
}

.company-info-list .company-info-element{
	display: flex;
	flex-direction: column;
	justify-content: flex-start;

}

.company-info ul {
	list-style: none;
}
.company-info-header {
	font-family: "Roboto", Arial, sans-serif;
	font-size: 24px;
	line-height: 30px;
	font-weight: 500;
	color: #323232;
}
.company-info-element {
	font-family: "Roboto", Arial, sans-serif;
	font-size: 16px;
	font-weight: 400;
	line-heigt: 22px;
	color: #323232;
}

.new-in-the-blog {
	background-color: #fac6ab;
	background-image: url(../img/bg_strawberries.jpg);

	font-family: "Roboto", Arial, sans-serif;
	font-size: 16px;
	line-height: 22px;
	font-weight: 500;
	color: #323232;
}

.new-itb-title {
	font-family: "Roboto", Arial, sans-serif;
  	font-size: 16px;
  	line-height: 22px;
  	font-weight: 500;
  	color: #323232;
}

.new-in-the-blog a {
	font-family: "Roboto", Arial, sans-serif;
	font-size: 24px;
	line-heigt: 30px;
	font-weight: 700;
	color: #323232;
}

.subscribe {
	background-color: #f8f7f4;

	font-family: "Roboto", Arial, sans-serif;
	font-size: 16px;
	line-heigt: 22px;
	font-weight: 400;
	color: #5a5a5a;
	
}
.subscribe-button {
	padding: 14px 19px;
	/*
	padding-top: 14px;
	padding-bottom: 14px;
	padding-left: 19px;
	padding-right: 19px;
	*/

	border-radius: 15px;

	font-family: "Roboto", Arial, sans-serif;
  	font-size: 18px;
  	line-height: 24px;
  	font-weight: 700;
  	color: #ffffff;
	
}

.unification-block {
	display: flex;
	flex-direction: row;
	justify-content: center;
}

.map {
	

	background-color: #e0e1cc;
	
}
.map-image {
	background-image: url(../img/map.jpg);

}
.map-contact {

	background-color: #fdfefe;
	font-family: "Roboto", Arial, sans-serif;
	
}
.simple-text {
	font-size: 14px;
  	line-height: 20px;
	font-weight: 400;
	color: #323232;
}
.bold-text {
	font-size: 18px;
  	line-height: 24px;
	font-weight: 700;
	color: #323232;
}

.feedback {
	background-color: #f8f7f4;
	box-shadow: 0 0 500px 500px rgba(50,50,50,.3);
	
}
.feedback-form-button {
	padding: 14px 24px;
	/*
	padding-top: 14px;
	padding-bottom: 14px;
	padding-left: 24px;
	padding-right: 24px;
	*/

	border-radius: 15px;

	font-family: "Roboto", Arial, sans-serif;
  	font-size: 18px;
  	line-height: 24px;
  	font-weight: 700;
  	color: #ffffff;
	
}

.send-button {
	padding: 14px 19px;
	/*
	padding-top: 14px;
	padding-bottom: 14px;
	padding-left: 19px;
	padding-right: 19px;
	*/

	border-radius: 15px;

	font-family: "Roboto", Arial, sans-serif;
  	font-size: 18px;
  	line-height: 24px;
  	font-weight: 700;
  	color: #ffffff;
	
}
.enter-button {
	position: relative;

	padding: 15px 25px;
	/*
	padding-top: 15px;
	padding-bottom: 15px;

	padding-left: 25px;
	padding-right: 25px;
	*/

	border-radius: 15px;

	font-family: "Roboto", Arial, sans-serif;
  	font-size: 18px;
  	line-height: 24px;
  	font-weight: 700;
  	color: #ffffff;
	
}

.enter-button::before {
	content: " ";
    position: absolute;
    width: 25px;
    height: 25px;
    top: 6px;
    left: 10px;

	background-image: url(../img/entry-idle.svg);
	background-size: 21px 19px;
	background-repeat: no-repeat;
    background-position: 0 0;

}

.order-button {
	padding: 13px 15px;
	/*
	padding-top: 13px;
	padding-bottom: 13px;
	padding-left: 15px;
	padding-right: 15px;
	*/

	border-radius: 15px;
}
.main-footer {
	list-style: none;
	display: flex;
	justify-content: space-between;
	
}
.footer-social {
	display: flex;
	flex-direction: row;
	align-items: center;

	list-style: none;
}



.footer-info ul {
	list-style: none;
}

.footer-info-list li {
	display: inline-block;
	margin: 0 5px;
}

.social-button {
	margin: 6px;

}
.footer-info {
	
	font-family: "Roboto", Arial, sans-serif;
  	font-size: 13px;
  	line-height: 18px;
  	font-weight: 400;
  	color: #ffffff;
}

.footer-info ul {
	width: 295px;


	display: flex;
	flex-wrap: wrap;

}


.for-suppliers{
	position: relative;
	font-weight: 700;
}

.for-suppliers::before {
	content: "";
	position: absolute;
	width: 25px;
    height: 25px;
    
    left: -20px;
    
	background-image: url(../img/heart.svg);
	background-size: 18px 17px;
	background-repeat: no-repeat;
    background-position: 0 0;
}

.footer-copyright {
	display: flex;
	flex-direction: column;

	font-family: "Roboto", Arial, sans-serif;
  	font-size: 12px;
  	line-height: 18px;
  	font-weight: 400;
  	color: #ffffff;
}
.feedback-pop-up-title {
	font-family: "Roboto", Arial, sans-serif;
  	font-size: 24px;
  	line-height: 28px;
  	font-weight: 500;
  	color: #323232;
}

.breadcrumbs {
	list-style: none;
}
.breadcrumbs-current {}

.filters-block {
	width: 906px;
	margin: 0;
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	align-items: center;
	
}

.filter-block-1 {

	display: flex;
	flex-direction: row;
	justify-content: center;
}
.filter-block-2 {
	display: flex;
}
.filter-block-3 {
	display: flex;
}
.filter-block-4 {
	display: flex;
}

.fat-content-field ul {
	list-style: none;
}
.filter-fc-list {
	display: flex;
	justify-content: space-around;
}
.filler-field ul {
	list-style: none;
}
.filter-filler-list {
	display: flex;
	justify-content: space-around;
}

.filter-title {
	font-family: "Roboto", Arial, sans-serif;
  	font-size: 14px;
  	line-height: 16px;
  	font-weight: 500;
  	color: #ffffff;
}

.price-range {}
.price-slide {}
.price-pointer {}
.pointer-left {}
.pointer-right {}

.filter-button {
	padding: 10px 30px;
	/*
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 30px;
	padding-right: 30px;
	*/

	border-radius: 15px;
	background-color: #a6b7ae;

	font-family: "Roboto", Arial, sans-serif;
  	font-size: 16px;
  	line-height: 18px;
  	font-weight: 500;
  	color: #ffffff;
}
.pagination-list {
	display: flex;
	flex-direction: row;
	justify-content: flex-end;

	list-style: none;
}
.pagination-item {
	margin-left: 10px;
	margin-right: 10px;

	font-family: "Roboto", Arial, sans-serif;
  	font-size: 16px;
  	line-height: 18px;
  	font-weight: 500;
  	color: #ffffff;
}
.pagination-item-current {
	background-color: #ffffff;
	border-radius: 12px;

  	color: #323232;

}

.pagination-left-arrow {
	color: rgba(255, 255, 255, 0.4);
}
.pagination-right-arrow {
	color: #ffffff;
}

.pagination-item:hover, .pagintaion-item:focus {
	background-color: rgba(255, 255, 255, 0.4);;
	border-radius: 12px;
}

.catalog-list {
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
	flex-direction: row;

	list-style: none;
}

.user-navigation-wrapper {
	display: flex;
	justify-content: space-between;
	flex-direction: row;
	align-items: flex-start;
}

.search-button {
	background-image: url(../img/lens-normal.svg);
}

.search-button:hover, .search-button:focus {
	background-image: url(../img/lens-active.svg);
}