body {
	margin: 0;
  	padding: 0;

  	font-family: "Roboto", Arial, sans-serif;
  	font-size: 16px;
  	line-height: 22px;
  	font-weight: 400;
  	color: #ffffff;
  	

  	background-color: #849d8f; /*#8996a6; #9d8b84; */
  	/*background-color: rgb(132, 157, 143); rgb(137, 150, 166); rgb(157, 139, 132);*/
  	background-position: top center;
  	background-repeat: no-repeat;
}

a {
	color: #ffffff;
	text-decoration: none;

}

.main-header

.main-navigation{
	font-size: 16px;
	line-height: 18px;
	color: #ffffff;
}

.main-header-logo {
	margin-top: 9px;
	magrin-left: 52px;
}

.catalog-navigation {
	font-family: "Roboto", Arial, sans-serif;
  	font-size: 14px;
  	line-height: 16px;
  	font-weight: 400;
  	color: #323232;
}

.site-navigation {
	font-family: "Roboto", Arial, sans-serif;
  	font-size: 16px;
  	line-height: 18px;
  	font-weight: 700;
  	color: #ffffff;
}

.site-navigation, .catalog-navigation {
	list-style: none;
}

.site-navigtaion a {
	color: #ffffff; 
}

.catalog-navigation a {
	color: #323232; 333333
}

.site-navigation a:hover,
.site-navigation a:focus {
	color: #333333;
	background-color: #f7f6f3;
}

.catalog-navigation a:hover {
  background-color: #fbded7; 
}

.catalog-navigation a:focus {
	background-color: #f6b5a5;
}

.new-in-the-catalog {
	border-bottom: 1px solid #88a093; /* width: 128*/

	font-family: "Roboto", Arial, sans-serif;
  	font-size: 14px;
  	line-height: 16px;
  	font-weight: 700;
  	color: #323232;
}
.search-block {
	
}

.login-link-button {
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: px;
	padding-right: 17px;

	border-radius: 15px;

	font-family: "Roboto", Arial, sans-serif;
  	font-size: 14px;
  	line-height: 16px;
  	font-weight: 500;
  	color: #ffffff;
}

.user-navigation-block {
	
}

.pop-up {
	background-color: #f8f7f4; 
}


.button {
	background-color: #ed5b3d;
	color: #ffffff;

	padding: 2px;
	border-radius: 5px;

	font-family: "Roboto", Arial, sans-serif;
  	font-weight: 700;
  	color: #ffffff;
}
/*.page-button {
	padding-top: px;
	padding-bottom: px;
	padding-left: px;
	padding-right: px;

	border-radius: 15px;
}*/

.close-button {
	margin: 15px;

}
.close-button-small {
	margin: 15px;
}


.link

.visually-hidden {
	position: absolute;
	clip: rect(0 0 0 0);
	width: 1px;
	height: 1px;
	margin: -1px;
}

.cart-button {
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 5px;
	padding-right: 35px;

	border-radius: 15px;

	font-family: "Roboto", Arial, sans-serif;
  	font-size: 14px;
  	line-height: 16px;
  	font-weight: 500;
  	color: #ffffff;
}

.cart-button::before {
	content: " ";
    position: absolute;
    width: 25px;
    height: 25px;
    top: 6px;
    left: 10px;

	background-image: url(../img/cart-empty.svg);
	background-size: 21px 20px;
	background-repeat: no-repeat;
    background-position: 0 0;

}

.cart-block {
	
}
.cart-block-table {
	border-bottom: 1px solid #cacac7;

}

.header-info
.contacts-info

.container

.main-slider
.slider1 {
	background-image: url(../img/ice_cream_main1);
}
.slider2 {
	background-image: url(../img/ice_cream_main2);
}
.slider3 {
	background-image: url(../img/ice_cream_main3);
}
.slider-control
.slider-button {
	padding-top: 17px;
	padding-bottom: 17px;
	padding-left: 40px;
	padding-right: 40px;

	border-radius: 32px;

	font-family: "Roboto", Arial, sans-serif;
  	font-size: 32px;
  	line-height: 44px;
  	font-weight: 700;
  	color: #ffffff;
}
.slider-title {
	font-size: 60px;
	line-height: 60,35px;
}

.order-bonus {
	
}
.raspberries {
	background-color: #6b1427;
	background-image: url(../img/bg_raspberries.jpg);
	background-repeat: no-repeat;
}
.chocolate {
	background-color: #654134;
	background-image: url(../img/bg_chocolate.jpg);
	background-repeat: no-repeat;
}
.order-bonus-button {
	padding: 14px;

	border-radius: 15px;

	font-family: "Roboto", Arial, sans-serif;
  	font-size: 18px;
  	line-height: 24px;
  	font-weight: 700;
  	color: #ffffff;
}

.hit-sales {
	
}
.hit-list
.catalog-item:hover, .catalog-item:focus{
	background-color: rgba(255, 255, 255, 0.6);
}
.quick-view-button {
	padding-top: 14px;
	padding-bottom: 14px;
	padding-left: 17px;
	padding-right: 17px;

	border-radius: 15px;

	font-family: "Roboto", Arial, sans-serif;
  	font-size: 18px;
  	line-height: 24px;
  	font-weight: 700;
  	color: #ffffff; 
	
}
.product-price {
	font-family: "Roboto", Arial, sans-serif;
	font-size: 35px;
	line-height: 45px;
	font-weight: 700;
	color: #ffffff;
}

.product-price b {
	font-family: "Roboto", Arial, sans-serif;
	font-size: 16px;
	line-heigt: 22px;
	font-weight: 700;
	color: #ffffff;
}

.item-name {
	font-family: "Roboto", Arial, sans-serif;
	font-size: 16px;
	line-heigt: 22px;
	font-weight: 500;
	color: #ffffff;
	
}
.rub
.sale-preview

.company-info {
	background-color: #dcd0b6;
	background-image: url(../img/bg_waffle.jpg);
	color: #323232;

}
.company-info-header {
	font-family: "Roboto", Arial, sans-serif;
	font-size: 24px;
	line-height: 30px;
	font-weight: 500;
	color: #323232;
}
.company-info-element {
	font-family: "Roboto", Arial, sans-serif;
	font-size: 16px;
	font-weight: 400;
	line-heigt: 22px;
	color: #323232;
}

.new-in-the-blog {
	background-color: #fac6ab;
	background-image: url(../img/bg_strawberries.jpg);

	font-family: "Roboto", Arial, sans-serif;
	font-size: 16px;
	line-heigt: 22px;
	font-weight: 500;
	color: #323232;
}

.new-in-the-blog p {
	font-family: "Roboto", Arial, sans-serif;
	font-size: 24px;
	line-heigt: 30px;
	font-weight: 700;
	color: #323232;
}

.subscribe {
	background-color: #f8f7f4;

	font-family: "Roboto", Arial, sans-serif;
	font-size: 16px;
	line-heigt: 22px;
	font-weight: 400;
	color: #5a5a5a;
	
}
.subscribe-button {
	padding-top: 14px;
	padding-bottom: 14px;
	padding-left: 19px;
	padding-right: 19px;

	border-radius: 15px;

	font-family: "Roboto", Arial, sans-serif;
  	font-size: 18px;
  	line-height: 24px;
  	font-weight: 700;
  	color: #ffffff;
	
}

.map {
	background-color: #e0e1cc;
	
}
.map-image {
	background-image: url(../img/map.jpg);

}
.map-contact {
	background-color: #fdfefe;
	font-family: "Roboto", Arial, sans-serif;
	
}
.simple-text {
	font-size: 14px;
  	line-height: 20px;
	font-weight: 400;
	color: #323232;
}
.bold-text {
	font-size: 18px;
  	line-height: 24px;
	font-weight: 700;
	color: #323232;
}

.feedback {
	background-color: #f8f7f4;
	box-shadow: 0 0 500px 500px rgba(50,50,50,.3);
	
}
.feedback-form-button {
	padding-top: 14px;
	padding-bottom: 14px;
	padding-left: 24px;
	padding-right: 24px;

	border-radius: 15px;

	font-family: "Roboto", Arial, sans-serif;
  	font-size: 18px;
  	line-height: 24px;
  	font-weight: 700;
  	color: #ffffff;
	
}

.send-button {
	padding-top: 14px;
	padding-bottom: 14px;
	padding-left: 19px;
	padding-right: 19px;

	border-radius: 15px;

	font-family: "Roboto", Arial, sans-serif;
  	font-size: 18px;
  	line-height: 24px;
  	font-weight: 700;
  	color: #ffffff;
	
}
.enter-button {
	padding-top: 15px;
	padding-bottom: 15px;

	padding-left: 25px;
	padding-right: 25px;

	border-radius: 15px;

	font-family: "Roboto", Arial, sans-serif;
  	font-size: 18px;
  	line-height: 24px;
  	font-weight: 700;
  	color: #ffffff;
	
}

.enter-button::before {
	content: " ";
    position: absolute;
    width: 25px;
    height: 25px;
    top: 6px;
    left: 10px;

	background-image: url(../img/entry-idle.svg);
	background-size: 21px 19px;
	background-repeat: no-repeat;
    background-position: 0 0;

}

.order-button {
	padding-top: 13px;
	padding-bottom: 13px;
	padding-left: 15px;
	padding-right: 15px;

	border-radius: 15px;
}
.main-footer {
	
}

.social-button {
	margin: 6px;

}
.footer-info {
	font-family: "Roboto", Arial, sans-serif;
  	font-size: 13px;
  	line-height: 18px;
  	font-weight: 400;
  	color: #ffffff;
}
.for-suppliers{
	font-weight: 700;
}

.footer-copyright {
	font-family: "Roboto", Arial, sans-serif;
  	font-size: 12px;
  	line-height: 18px;
  	font-weight: 400;
  	color: #ffffff;
}


.breadcrumbs
.breadcrumbs-current
.filters
.price-range
.price-slide
.price-pointer
.pointer-left
.pointer-right
.filter-button {
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 30px;
	padding-right: 30px;

	border-radius: 15px;
	background-color: #a6b7ae;

	font-family: "Roboto", Arial, sans-serif;
  	font-size: 16px;
  	line-height: 18px;
  	font-weight: 500;
  	color: #ffffff;
}
.pagination-list
.pagination-item {
	margin-left: 10px;
	margin-right: 10px;

	font-family: "Roboto", Arial, sans-serif;
  	font-size: 16px;
  	line-height: 18px;
  	font-weight: 500;
  	color: #ffffff;
}
.pagination-item-current {
	background-color: #ffffff;
	border-radius: 12px;

  	color: #323232;

}

.pagination-left-arrow {
	color: rgba(255, 255, 255, 0.4);
}
.pagination-right-arrow {
	color: #ffffff;
}

.pagination-item:hover, .pagintaion-item:focus {
	background-color: rgba(255, 255, 255, 0.4);;
	border-radius: 12px;
}